{% extends '../layout/auth.html' %}
{% load static %}
{% block conteudo  %}
<!DOCTYPE html>
<html lang="pt">
    <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none; height: 100vh; width: 5rem; height: 5rem;">
            <span class="sr-only">Loading...</span>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalAtualizarParcelas" tabindex="-1" role="dialog" aria-labelledby="modalAtualizarParcelasLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAtualizarParcelasLabel">Atualizar Parcelas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulário para atualizar as parcelas -->
                    <form id="formAtualizarParcelas">
                        <input type="hidden" id="loteId" value="">
                        <div class="form-group">
                            <label for="numero_primeira_parcela">Número da Primeira Parcela</label>
                            <input type="number" class="form-control" id="numero_primeira_parcela" required>
                        </div>
                        <div class="form-group">
                            <label for="numero_ultima_parcela">Número da Ultima Parcela</label>
                            <input type="number" class="form-control" id="numero_ultima_parcela" required>
                        </div>
                        <div class="form-group">
                            <label for="valor">Valor</label>
                            <input type="number" step="0.01" class="form-control" id="valor" required>
                        </div>
                        <div class="form-group">
                            <label for="data_de_vencimento">Data de Vencimento</label>
                            <input type="date" class="form-control" id="data_de_vencimento" required>
                        </div>
                        <div class="form-group">
                            <label for="numero_you">Número do Boleto do Cliente</label>
                            <input type="number" class="form-control" id="numero_you" required>
                        </div>
                        <div class="form-group">
                            <label for="numero_i">Número do Boleto da Empresa</label>
                            <input type="number" class="form-control" id="numero_i" required>
                        </div>
                        <div class="form-group">
                            <label for="numero_do_carne">Número do Carne</label>
                            <input type="number" class="form-control" id="numero_do_carne" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="enviarAtualizacaoParcelas()">Salvar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid px-4">
        <h1 class="mt-4" style="color: #fff">Situação de Pagamento</h1>
        <div class="card mb-4">
            <div class="card-body">
                <a class="btn btn-primary btn-default" onclick="rediciona_parametro()" style="background-color: #074948;border-color :#074948 !important; color: #fff;">Situação de Pagamento</a>
                <a class="btn btn-primary btn-default" onclick="abrirModalAtualizarParcelas()" data-toggle="modal" data-target="#modalAtualizarParcelas" style="background-color: #074948;border-color : #074948 !important; color: #fff;">Preencher Valores das Parcelas</a>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body" style="overflow-x:scroll, max-width 80%">
                <table id="datatablesSimple"> 
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->  
</main>
<script>
    var array_titulos = ['quadra', 'lote', 'cliente']
    var GLOBAL_TABELA = 'lote';
    function carregar(){
        listar(GLOBAL_TABELA,array_titulos);
    }
    carregar();
    
    function rediciona_parametro(){
      redirecionar_botao('situacaodePagamento')
    }

    function redirecionar_botao(redireciona = null){
      var selecionados = []
      $('.ckbsel:checked').each(function () {
          selecionados.push(this.value)
      });
      if (selecionados.length > 1){
          alert('Favor selecionar apenas uma linha')
      }else if (selecionados.length == 0){
          alert('Favor selecionar uma linha')
      }else{
          var id_selecionado = selecionados[0];
          console.log(global_dados_api_get)
          $.each(global_dados_api_get, function(index,value){
            if (value.id == id_selecionado){
                  console.log(redireciona)
                  console.log(value.id)
                  if(redireciona != null)
                      window.location.href = "/"+redireciona+"?id="+value.id
              }
          });

      }
    }


    function abrirModalAtualizarParcelas() {
        var selecionados = [];
        $('.ckbsel:checked').each(function () {
            selecionados.push(this.value);
        });
    
        if (selecionados.length > 1) {
            alert('Favor selecionar apenas uma linha');
        } else if (selecionados.length === 0) {
            alert('Favor selecionar uma linha');
        } else {
            var loteId = selecionados[0];
            console.log(loteId)
            console.log('loteId2')
            console.log(loteId)
            document.getElementById('loteId').value = loteId;
            $('#modalAtualizarParcelas').modal('show');
        }
    }

    function enviarAtualizacaoParcelas() {
        $('#loadingSpinner').show();
        // Obtenha os valores preenchidos no formulário
        var data = {
                    numero_primeira_parcela: $("#numero_primeira_parcela").val(),
                    numero_ultima_parcela: $("#numero_ultima_parcela").val(),
                    data_de_vencimento: $("#data_de_vencimento").val(),
                    valor: $("#valor").val(),
                    numero_you: $("#numero_you").val(),
                    numero_i: $("#numero_i").val(),
                    numero_do_carne: $("#numero_do_carne").val(),
                    lote_id: $("#loteId").val()
                };

        // Faça a requisição AJAX para enviar os valores para o back-end
        $.ajax({
            type: 'POST',
            url: '/projetarParcelas/',
            data: data,
            success: function(response) {
                $('#loadingSpinner').hide();
                if (response.error) {
                alert(response.error);
                } else {
                    alert('Parcelas Atualizadas com Sucesso!');
                }
                console.log(response);

            },
            error: function(xhr, status, error) {
                $('#loadingSpinner').hide();
                console.error(error);
                alert(error)
            }
        });

        // Feche o modal após enviar os valores
        $('#modalAtualizarParcelas').modal('hide');
    }


</script>
{% endblock %}

