{% extends '../layout/auth.html' %}
{% load static %}
{% block conteudo  %}
<!DOCTYPE html>
<html lang="pt">
  <!-- The Modal -->
  <div  class="modal" id="exampleModal"   role="dialog"  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Imposto</h2>
            <button type="button" class="close" data-dismiss="modal" >&times;</button>
        </div>

            <!-- Modal body -->
          <div class="modal-body">
             <form id="cadastro">
              <input type="hidden" id="id" name="id" value=""/>
              <div class="form-group">
                <label for="imposto">Imposto</label>
                <input type="text" class="form-control" id="imposto" name="imposto"  placeholder="Imposto">
              </div>
              <div class="form-group">
                <label for="codigo">Codigo</label>
                <input type="text" class="form-control" id="codigo" name="codigo"  placeholder="Codigo">
              </div>
              <div class="form-group">
                <label for="vencimento">Vencimento</label>
                <input type="date" class="form-control" id="vencimento" name="vencimento"  placeholder="Vencimento">
              </div>
              <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" class="form-control" id="valor" name="valor"  placeholder="Valor">
              </div>
              <div class="form-group">
                <label for="situacao">Situacao</label>
                <input type="number" class="form-control" id="situacao" name="situacao"  placeholder="Situacao">
              </div>
            </form>
          </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="zerar_form()">Cancelar</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="salvar();">Salvar</button>
        </div>

      </div>
    </div>
</div>

    <div class="container-fluid px-4">
        <h1 class="mt-4" style="color: #fff">Imposto</h1>
        <div class="card mb-4">
            <div class="card-body">
                <a class="btn btn-primary btn-success" href="javascript:novo()" data-toggle="modal" data-target="#exampleModal">Novo</a>
                <a class="btn btn-secondary btn-info" href="javascript:editar()">Editar</a>
                <a id="openModal" data-toggle="modal" data-target="#exampleModal" style="display:none"></a>
                <a class="btn btn-primary btn-danger" href="javascript:excluir(GLOBAL_TABELA)">Excluir</a>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body" style="overflow-x:scroll, max-width: 80%">
                <table id="datatablesSimple"> 
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->  
</main>
<script>


        
    var array_titulos = ['imposto', 'codigo', 'vencimento','valor','situacao',]
    var GLOBAL_TABELA = 'despesa';
    function salvar(){
        var id = adicionar(GLOBAL_TABELA,array_titulos);
    }

        function carregar(){
            listar(GLOBAL_TABELA,array_titulos);
        }
        carregar();

    
</script>
{% endblock %}
