{% extends '../layout/auth.html' %}
{% load static %}
{% block conteudo  %}

<div class="container-fluid">
    <h1>Gráfico de Entradas Diárias <span id="mesAtual"></span></h1>
    <canvas id="gastosDiariosChart"></canvas>
</div>
<script>

    function criarGraficoGastosDiarios() {
        var endpoint = '/graficoEntrada'; // Substitua pelo seu endpoint correto
    
        // Faça a requisição AJAX para obter os dados dos gastos diários
        $.ajax({
            url: endpoint,
            method: 'GET',
            success: function (response) {
                var dadosGastosDiarios = response;
    
                // Crie um array separado para armazenar os dias e os valores
                var dias = [];
                var valores = [];
    
                // Percorra os dados dos gastos diários e preencha os arrays de dias e valores
                for (var i = 0; i < dadosGastosDiarios.length; i++) {
                    dias.push(dadosGastosDiarios[i].dia);
                    valores.push(dadosGastosDiarios[i].valor);
                }
                // Cálculo do valor total
                var valorTotal = valores.reduce((total, valor) => total + parseFloat(valor), 0).toFixed(2);
                {% comment %} alert(valorTotal) {% endcomment %}
                
                // Obtenha o mês atual
                var dataAtual = new Date();
                var mesAtual = obterNomeMes(dataAtual.getMonth());

                // Atualize o conteúdo do span com o mês atual
                document.getElementById('mesAtual').textContent = ' - ' + mesAtual;

                // Crie o contexto do gráfico
                var ctx = document.getElementById('gastosDiariosChart').getContext('2d');
    
                // Crie o gráfico utilizando o Chart.js
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: dias,
                        datasets: [{
                            label: 'Entradas Diárias',
                            data: valores,
                            backgroundColor: 'rgba(7, 73, 72, 0.8)', // Cor de fundo das barras (verde-água)
                            borderColor: 'rgba(0, 0, 0, 1)', // Cor da borda das barras (preto)
                            borderWidth: 1 // Espessura da borda das barras
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                grid: {
                                    color: 'rgba(0, 0, 0, 1)' // Cor das linhas de marcação do eixo x (branco)
                                }
                            },
                            y: {
                                grid: {
                                    color: 'rgba(0, 0, 0, 1)' // Cor das linhas de marcação do eixo y (branco)
                                },
                                beginAtZero: true,
                            }
                        },
                    },
                    plugins: [{
                        id: 'valorTotal',
                        beforeDraw: function(chart) {
                            var ctx = chart.ctx;
                            ctx.save();
                            ctx.font = 'bold 16px Arial';
                            ctx.fillStyle = 'black';
                            ctx.textAlign = 'right';
                            ctx.textBaseline = 'top';
                            ctx.fillText('Valor Total: R$ ' + valorTotal, chart.width - 10, 10);
                            ctx.restore();
                        }
                    }]
                });
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
    // Função auxiliar para obter o nome do mês a partir do número do mês (0 a 11)
    function obterNomeMes(numeroMes) {
        var meses = [
            'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
            'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
        ];

        return meses[numeroMes];
    }
    // Chame a função para criar o gráfico quando a página for carregada
    document.addEventListener('DOMContentLoaded', criarGraficoGastosDiarios);
    
</script>

{% endblock %}